body
{
    max-width: 700px;
    min-width: 550px;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header 
{
    margin-top: 30px;
}

header nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(9, 20, 51);
}

header nav img
{
    width: 15%;
    margin-left: 10%; 
}
header img
{
    width: 100%;
}

header nav ul
{
    display: flex;
    align-items: center;
    margin-right: 10%
}

header nav ul li
{
    margin: 0 10px;
    list-style-type: none;
}

header nav ul li a
{
    color: rgb(51, 66, 110);
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    transition: color .3s linear;
}

header nav ul li a:hover
{
    color: rgb(159, 173, 216);
}

#descricaoGaleria
{
    padding: 0 8%;
    text-align: center;
}

#descricaoGaleria #galeria
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#descricaoGaleria #galeria .pessoa h2
{
    letter-spacing: 2px;
}

#descricaoGaleria #galeria .pessoa img
{
    width: 80%;
}

#descricaoGaleria #espacoDuplo
{
    line-height: 2;
}

#texto
{
    background-image: url(../imagens/bg_detalhe.png);
    background-size: cover;
    padding: 40px 70px;
    color: white;
}

#texto h1
{
    font-size: 30px;
}

#texto p
{
    margin-right: 35%;
}

#contato
{
    color: rgb(51, 66, 110);
    text-align: center;
}

#map 
{
    margin-bottom: 30px;
    height: 400px;
}

#map iframe
{
    width: 100%;
    height: 100%;
}

#footer
{
    background: rgb(9, 20, 51);
    padding: 1px;
    text-align: center;
    color: rgb(63, 78, 124);
}

