body
{
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
header 
{
}

header nav
{
    display: flex;
    align-items: center;
    background: rgb(9, 20, 51);
}

header nav img
{
    width: 15%;
    margin-left: 10%;
}
header img
{
    width: 100%;
}

header nav ul
{
    margin-left: 35%;
    display: flex;
    align-items: center;

}

header nav ul li
{
    margin: 0 10px;
    list-style-type: none;
}

header nav ul li a
{
    color: rgb(51, 66, 110);
    text-decoration: none;
}

#descricaoGaleria
{
    padding: 0 8%;
    text-align: center;
}

section #galeria
{
    display: flex;
    align-items: center;
}

section #galeria .pessoa h2
{
    letter-spacing: 2px;
}

section #galeria .pessoa img
{
    width: 80%;
}
