body
{
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero
{
    background-image: url(../Imagens/bg-3.jpg);
    height: 450px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;  
}

.hero-content
{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1
{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

.hero nav ul
{
    text-align: right;
    margin: 20px 50px 0 0;
}

header nav li
{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
}

header nav a
{
    display: block;
    background: rgba(0,0,0,0.1);
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

header nav a:hover
{
    background: rgba(0,0,0,0.3);
}

.content-section
{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

.content-section article header h2
{
    background: rgb(212, 209, 209);
    padding: 5px;
    margin-top: 0px;
    border-bottom: 2px solid rgb(170, 166, 166);
}

.flex-align
{
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    width: 60%;
    margin: auto;
}

main .content-section .card
{
    text-align: center;
    margin: 15px;
}

main .content-section .card img
{
    width: 100%;
}

main .content-section .card p
{
    background: rgb(85, 84, 84);
    margin-top: -4px;
    padding: 7px;
    color: rgb(206, 206, 206);
}

main .content-section .card p:hover
{
    color: rgb(85, 84, 84);
    background: rgb(206, 206, 206);
}

footer
{
    height: 80px;
    margin-top: 15px;
    background: rgb(85, 84, 84);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgb(29, 29, 29);
    line-height: 110px;
}